---
layout: conflike
title: Programme
visible: 1
permalink: /conflike/
---

<script type="text/javascript">
  var userID = '';
  
  function UniqueUserID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
      return v.toString(16);
    });
  }
  
  function initializeUserID() { //called on page load (see layout file)
    userID = UniqueUserID(); // Global Variable do not touch

    if (localStorage.userID != '' && localStorage.userID != undefined) {
      userID = localStorage.userID;
    }
    
    url_id_paramater=window.location.search.substring(1).replace('&','').replace('id=','');
    if (url_id_paramater != '' && url_id_paramater != undefined) {
      userID = url_id_paramater;
    }
    
    localStorage.userID = userID;
    userURL = "http://2016.agiletour-lille.org/conflike?id="+ userID
    document.getElementById('userURL').innerHTML=userURL;
  }
</script>

<script type="text/javascript">
  function setVote(value, confID){
    document.getElementById(confID + '/vote').innerHTML=value;
    var labels= {"-2": "Pas Super", "-1": "Moyen", "+1": "Bien", "+2": "Très bien"};
    document.getElementById(confID + '/vote/label').innerHTML='(' + labels[value] + ')';
  }
  function setComment(value, confID){
    document.getElementById(confID + '/comment').value=value;
  }  
  function setCheckStatus(value, confID) {
    document.getElementById(confID + '/check').checked = value;
  }  
  function getVote(confID) {
    var vote = document.getElementById(confID + '/vote').innerHTML;
    return vote;
  }
  function getCheckStatus(confID) {
    var checkStatus = document.getElementById(confID + '/check').checked;
    return checkStatus;
  }  
  function getComment(confID) {
    var comment = document.getElementById(confID + '/comment').value;
    if (comment == "") comment = "-"; //Attribute can not be empty with DynamoDB
    return comment.replace(/\\/g, "\\\\").replace(/"/g, "\\\"").replace(/\n/g, "\\n");
  }
  function getConfTime(confID) {
    var conftime = document.getElementById(confID + '/conftime').innerHTML;
    if (conftime == "") conftime = "-"; //Attribute can not be empty with DynamoDB
    return conftime.replace(/\\/g, "\\\\").replace(/"/g, "\\\"").replace(/\n/g, "").trim();
  }  
  function getConfRoom(confID) {
    var confroom = document.getElementById(confID + '/confroom').innerHTML;
    if (confroom == "") confroom = "-"; //Attribute can not be empty with DynamoDB
    return confroom.replace(/\\/g, "\\\\").replace(/"/g, "\\\"").replace(/\n/g, "").trim();
  }  
  function getConfName(confID) {
    var confname = document.getElementById(confID + '/confname').innerHTML;
    if (confname == "") confname = "-"; //Attribute can not be empty with DynamoDB
    return confname.replace(/\\/g, "\\\\").replace(/"/g, "\\\"").trim();
  }
  function getConfSpeakers(confID) {
    var confspeakersElement = document.getElementById(confID + '/confspeakers');
    if (confspeakersElement == null) return "-"; //Happens when there is no speaker ('Accueil' for exemple)
    var confspeakers = confspeakersElement.innerHTML;
    if (confspeakers == "") confspeakers = "-"; //Attribute can not be empty with DynamoDB
    return confspeakers.replace(/\\/g, "\\\\").replace(/"/g, "\\\"").replace(/\n/g, "").trim();
  } 
  function getTimeStamp(){
    var d = new Date();
    return  d.getFullYear() + "/" + 
            ("0"+(d.getMonth()+1)).slice(-2) + "/" + 
            ("0"+d.getDate()).slice(-2)  + "-" + 
            ("0"+d.getHours()).slice(-2) + ":" + 
            ("0"+d.getMinutes()).slice(-2) + ":" + 
            ("0"+d.getSeconds()).slice(-2);
  }
 
  function save(confID) {
    var timestamp = getTimeStamp();
    var checkStatus = getCheckStatus(confID);
    var conftime = getConfTime(confID);
    var confroom = getConfRoom(confID);
    var confname = getConfName(confID);
    var confspeakers = getConfSpeakers(confID);
    var vote = getVote(confID);
    var comment = getComment(confID);

    var api_id = '3gwmfohd5g';
    var url = 'https://'+ api_id +'.execute-api.eu-west-1.amazonaws.com/prod/ConfLike?userid=' + userID;
    var data = '{ \
      "TimeStamp" : { "S": "' + timestamp + '" }, \
      "UserID"  : { "S": "' + userID + '" }, \
      "ConfID"  : { "S": "' + confID + '" }, \
      "ConfTime": { "S": "' + conftime + '" }, \
      "ConfRoom": { "S": "' + confroom + '" }, \
      "ConfName": { "S": "' + confname + '" }, \
      "ConfSpeakers": { "S": "' + confspeakers + '" }, \
      "Vote"    : { "S": "' + vote + '"}, \
      "Comment" : { "S": "' + comment + '"}, \
      "Checked" : { "BOOL": "' + checkStatus + '" \
    }}';

    var request = $.ajax({
      url: url,
      method: "POST",
      contentType: "application/json",  
      data: data
    });
 
    request.done(function( msg ) {
      msg = JSON.stringify(msg, null, 2);
      if (msg != '{}' ) alert(msg);
    });
     
    request.fail(function( jqXHR, textStatus ) {
      alert( "failed:\n" + JSON.stringify(jqXHR, null, 2));
    });    
  }
  
  function update() { //called on page load (see layout file)
    var api_id = '3gwmfohd5g'; 
    var url = 'https://'+ api_id +'.execute-api.eu-west-1.amazonaws.com/prod/ConfLike?userid=' + userID;

    var request = $.ajax({
      url: url,
      method: "GET"
    });

    request.done(function( response ) {
      var items = response.Items;
      for(var i = 0; i < items.length; i++) {
        var item=items[i];
        var confID=item.ConfID.S;
        setVote(item.Vote.S, confID);
        setComment(item.Comment.S, confID);
        setCheckStatus(item.Checked.BOOL, confID);
        toggleCheckLabelColor(confID);
      }
    });

    request.fail(function( jqXHR, textStatus ) {
      alert( "failed:\n" + JSON.stringify(jqXHR, null, 2));
    });  
  }
</script>

<script type="text/javascript">
  function toggleDayDisplay(dayID) {
    day_div = document.getElementById(dayID)
    if (day_div.style.display == "block") {
      day_div.style.display = "none"
    } else {
      day_div.style.display = "block"
    }
  }

  function toggleCheckLabelColor(confID) {
    var checkStatus = document.getElementById(confID + "/check");
    var checkStatusLabel = document.getElementById(confID + "/checklabel");
    if (checkStatus.checked == true) {
      checkStatusLabel.style.backgroundColor = "lightblue";
    } else {
      checkStatusLabel.style.backgroundColor = "white";
    }
  }
</script>

<div class="container">
  
  <!-- ------------------------------- -->
  <!--  HEADER : AGILE TOUR LILLE 2016 -->
  <!-- ------------------------------- -->
   
      <div >
          <div class="conflike-title">AGILE TOUR LILLE 2016</div>
      </div>

 
  <!-- -------------------------- -->
  <!--  INTRODUCTION              -->
  <!-- -------------------------- -->
  <div class="conflike-introduction">
    <div>
      Cette application vous servira : 
      </br>
      1) Avant le jour J, pour faire votre pré-sélection (et nous aider du même coup à répartir les flux)
      </br>
      2) Le jour J, pour donner un feedback sur les conférences et ateliers auxquels vous aurez assisté
      </br>
      </br>
      <div style="text-align:center"><b>IMPORTANT</b></div>
      Pour la pré-sélection, nous vous conseillons d'utiliser l'appareil (smartphone, tablette,...) que vous prendrez le jour de la conférence
      </br>
      </br>
      Si vous voulez faire votre pré-sélection sur un autre appareil (votre PC par exemple), 
      envoyez l'URL ci-dessous sur votre boîte email.
      </br>
    </div>
    </br>
    <div id="userURL" style="color:blue">?</div>
    </br>
      En cliquant dessus dans votre email,
      vous retrouverez votre pré-sélection sur tous les appareils où vous avez accès à votre boîte.    
    </br>
    </br>
    <div>
      Remarques :
      </br>
      Cette application est en version bêta
      </br>
      Elle est totalement anonyme
      </br>
    </div>
  </div>

  {% for day in site.data.schedule %}
      <!-- -------------------------- -->
      <!--  DAY                       -->
      <!-- -------------------------- -->
      <div id="banner-{{ day.date | replace:' ','_' }}" class="conflike-day-banner" onclick="toggleDayDisplay('{{ day.date | replace:' ','_' }}')">
           <a href="/conflike/#banner-{{ day.date | replace:' ','_' }}" style="text-decoration:none">{{ day.date }} >></a>
      </div>
      <div id="{{ day.date | replace:' ','_' }}" style="display:none">
        {% assign odd_slot = true %}        
        {% for part in day.schedule %}
          {% for slot in part %}
            {% if odd_slot %} {% assign odd_slot = false %} {% else %} {% assign odd_slot = true %} {% endif %}
            {% assign slotID = day.date | replace:' ','_' | append:'_' | append:slot.hour %}
            <!-- -------------------------- -->
            <!--  DAY SLOT                  -->
            <!-- -------------------------- -->          
            <div class="conflike-day-slot {% if odd_slot %} odd-left-border {% else %} even-left-border {% endif %}">
              <div id="slot-{{slot.hour }}">
                <div id="banner-{{ slotID }}"  style="margin:1px">
                  <div class="conflike-day-slot-banner {% if odd_slot %} odd-slot {% else %} even-slot {% endif %}">
                   <a href="/conflike/#banner-{{ slotID }}" style="text-decoration:none">
                     {{ day.date }} - {{ slot.hour  }}
                   </a>
                  </div>
                </div>
                {% for talk in slot.content %}
                  {% assign confID = talk.conf_id %} 
                  <!-- -------------------------- -->
                  <!--  TALK                      -->
                  <!-- -------------------------- -->
                    <div id="{{ confID }}" class="conflike-talk">
                      {% assign slotDay = day.date| replace:'13 octobre', 'Jeudi'| replace:'14 octobre', 'Vendredi' %}
                      <!-- ---------------------------------- -->
                      <!-- DAY, HOUR, ROOM                    -->
                      <!-- ---------------------------------- -->
                      <div class="row">
                        <div id="{{ confID }}/conftime" class="col-xs-6 conflike-day-hour">
                          {{slot.hour }} ({{ slotDay }})
                        </div>
                        <div id="{{ confID }}/confroom" class="col-xs-6 conflike-room">
                          {% if talk.room %} 
                            {{ talk.room }}
                          {%else%}
                            {{ site.data.rooms[forloop.index0] }}
                          {% endif %} 
                        </div>
                      </div>
                      <!-- -------------------------- -->
                      <!-- SUBJECT                    -->
                      <!-- -------------------------- -->  
                      <label id="{{ confID }}/checklabel" class="conflike-subject">
                        <input type="checkbox" id="{{ confID }}/check" onchange="toggleCheckLabelColor('{{ confID }}'); save('{{ confID }}')"> 
                        <span id="{{ confID }}/confname">{{ talk.subject }}{{ talk.label }}</span>
                      </label>

                      {% if talk.speaker %}                             
                        <!-- -------------------------- -->
                        <!-- SPEAKER(S)                 -->
                        <!-- -------------------------- -->
                        <div style="text-align: center">
                          {% assign speakers = talk.speaker | split: ", " %}
                          <div style="font-size:1.5em">
                            {% for speaker in speakers %}
                              <!--<a href="{{ "/conferenciers/" | prepend: site.baseurl }}#{{speaker | uri_escape }}">{{ speaker }}</a>-->
                              <span id="{{ confID }}/confspeakers" style="color:blue">{{ speaker }}</span> 
                              {% if forloop.last == false %}, {% endif %} 
                            {% endfor %}
                          </div>
                          {% if talk.image %}
                            <img src="{{talk.image| prepend: " /img/ " | prepend: site.baseurl}}" alt="{{talk.subject}}" width="80" height="80" /> 
                          {% else %} 
                            {% if talk.speaker %} 
                              {% assign speakers = talk.speaker | split: ", " %} 
                              <div class="conflike-speaker-image">
                              {% for speaker in site.data.speakers %}
                                {% if talk.speaker contains speaker.name %}
                                    <img src="{{ speaker.photo }}" alt="{{speaker.name}}" width="80" height="80" />
                                {% endif %} 
                              {% endfor %}
                              </div>
                            {% endif %} 
                          {% endif %}
                        </div>                        
                        <!-- -------------------------- -->
                        <!-- DESCRIPTION                -->
                        <!-- -------------------------- -->                      
                        <div class="conflike-description">
                          <div class="conflike-description-banner" onclick="toggleDayDisplay('detail-{{ confID }}')">
                            <a href="/conflike/#{{ confID }}">Description >></a>
                          </div>
                          <div class="conflike-description-text" id="detail-{{ confID }}">
                            <p class="description">
                              {{ talk.description }}
                            </p>
                            {% if talk.extra %}
                            <p class="extra">{{ talk.extra }}</p>
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}                             
                      <!-- -------------------------- -->
                      <!-- FEEDBACK                   -->
                      <!-- -------------------------- -->                          
                      <div class="conflike-feedback">
                        <div class="conflike-feedback-banner" onclick="toggleDayDisplay('feedback-{{ confID }}')">
                          <a href="/conflike/#{{ confID }}" style="text-decoration:none">Donnez votre FeedBack >></a>
                        </div>
                        <div class="conflike-feedback-content" id="feedback-{{ confID }}">
                          <span>Votre Note: </span>
                          <span id="{{ confID }}/vote" style="visibility:visible">0</span>
                          <span id="{{ confID }}/vote/label" style="visibility:visible">(Pas de note pour le moment)</span>
                          <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary" id="not_great" onclick="setVote('-2', '{{ confID }}');save('{{ confID }}')">
                                            Pas Super
                                          </button>
                            </div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary" id="so_so" onclick="setVote('-1', '{{ confID }}');save('{{ confID }}')">
                                            Moyen
                                          </button>
                            </div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary" id="good" onclick="setVote('+1', '{{ confID }}');save('{{ confID }}')">
                                            Bien
                                          </button>
                            </div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary" id="very_good" onclick="setVote('+2', '{{ confID }}');save('{{ confID }}')">
                                            Très bien
                                          </button>
                            </div>
                          </div>
                          </br>
                          <div>Votre commentaire :</div>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" id="{{ confID }}/comment" onkeyup="save('{{ confID }}')"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
  {% endfor %}

</div>