---
layout: default
title: Conférences
permalink: /conferences/
---

<div class="container talks">
    {% for day in site.data.schedule %}
    {% for part in day.schedule %}
    {% for slot in part %}
    <div id="slot-{{slot.hour }}" class="conference-slot">
        <div class="slot row">
            {% for talk in slot.content %}{% if talk.hide-on-home != 1 %}
            {% if talk.speaker %}
            <a name="{{ talk.subject }}"></a>
            <div class="talk">
                    <h2>{{ talk.subject }}</h2>
                    <div class="speakers">
                        {% if talk.image %}
                        <img src="{{talk.image| prepend: "/img/" | prepend: site.baseurl}}" alt="{{talk.subject}}" width="80" height="80"/>
                        {% else %}
                        {% if talk.speaker %}
                        {% assign speakers = talk.speaker | split: ", " %}
                        {% for speaker in site.data.speakers %}{% if talk.speaker contains speaker.name %}
                        <a href="{{ "/conferenciers/" | prepend: site.baseurl }}#{{speaker.name | uri_escape }}">
                        <!--img src="{{speaker.photo| prepend: "/img/speakers/" | prepend: site.baseurl}}" alt="{{speaker.name}}" width="80" height="80"/-->
                        <img src="{{ speaker.photo }}" alt="{{speaker.name}}" width="80" height="80"/>
                        </a>
                        {% endif %}{% endfor %}
                        {% endif %}
                        {% endif %}
                    </div>
                    {% if talk.speaker %}
                    <div>
                        <span class="info">
                            <span class="speaker">par
                                {% for speaker in speakers %}
                                <a href="{{ "/conferenciers/" | prepend: site.baseurl }}#{{speaker | uri_escape }}">{{ speaker }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>{% endif %}<span class="room">{% if talk.room %}, {{ talk.room }}{%else%}, {{ site.data.rooms[forloop.index0] }}{% endif %} à {{slot.hour }}</span>
                        </span>
                    </div>
                    <p class="description">{{ talk.description }}</p>
                    {% if talk.extra %}
                    <p class="extra">{{ talk.extra }}</p>
                    {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
