---
layout: page
title: Programme
permalink: /programme/
---

{% for part in site.data.schedule %}
<table class="schedule table table-condensed">
    <tbody>
    {% for slot in part %}
        {% if forloop.index0 == 1%}
        <tr class="rooms">
            <th></th>
            {% for room in site.data.rooms %}
            <th width="20%">{{ room }}</th>
            {% endfor %}
        </tr>
        {% endif %}
        <tr class="{% cycle '', 'alt' %}">
            <th class="hour">{{ slot.hour }}h</th>
            {% for talk in slot.content %}
            <td{% if talk.duration %} rowspan="2"{% endif %}{% if talk.fill %} colspan="{{ talk.fill }}"{% endif %} {% if talk.highlight %} class="highlight{% endif %}">
                {% if talk.room %}
                <span class="room">{{ talk.room }}</span>
                {% endif %}
                <a name="{{ talk.subject }}"></a>
                <span class="subject">{{ talk.subject }}</span>
                <span class="speaker"><a href="/conferenciers/#{{talk.speaker}}">{{ talk.speaker }}</a></span>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
