@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:1px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.conflike-title {
  font-size:24px;
  padding:15px;
  text-align:center;
  background-color:lightgrey;
  text-decoration:none
}

.conflike-introduction {
  padding:3%; 
  border-width:2px; 
  border-color:black; 
  border-style:dotted;
  border-radius: 16px;
}

.conflike-introduction-content {
  padding:3%; 
  text-align: justify; 
  font-size:1.4em;
}

.conflike-day-banner {
  font-size:2em;
  margin:1px;
  padding:30px;
  text-align:left;
  border-radius: 16px;  
}

.conflike-day-area {
  display:none;
  margin-top:5px;
  margin-bottom:5px;  
  border-color:black; 
  border-width:0px; 
  border-style:dotted;
  border-top-width:5px;   
  border-top-style:solid;  
  border-bottom-width:5px;   
  border-bottom-style:solid;  
  border-left-width:5px;  
  border-left-style:solid;  
  border-radius: 16px;   
}

.odd-day {
  background:plum;
}

.odd-day-area {
  border-left-color:plum;
  border-bottom-color:plum;
  border-top-color:plum;
}

.even-day {
  background:gold;
}

.even-day-area {
  border-left-color:gold;
  border-bottom-color:gold;
  border-top-color:gold;  
}

.conflike-day-filter {
  width:100%;
  font-size:1.5em;  
  padding:10px;  
  background-color:black;
  color:white;
  border-radius: 16px;  
}

.conflike-day-slot-banner {
  text-align:left; 
  font-size:1.5em;  
  display:block;
  padding:5px;
  margin:1px;
  border-radius: 16px;  
}

.odd-slot {
  background:lightblue;
}

.even-slot {
  background:lightgreen;
}

.conflike-day-slot {
  margin-left:5px;
  margin-top:10px;
  border-color:black; 
  border-width:0px; 
  border-style:dotted;
  border-top-width:5px;   
  border-top-style:solid;  
  border-bottom-width:5px;   
  border-bottom-style:solid;  
  border-left-width:5px;  
  border-left-style:solid;
  border-radius: 16px;  
}

.conflike-talk {
  padding:2px; 
  margin:2px;
  background-color: white;
  border-color:grey; 
  border-width:0px; 
  border-style:dotted;
  border-top-width:1px;  
  border-top-style:dotted;  
  border-top-color:black; 
  border-bottom-width:1px;  
  border-bottom-style:dotted;  
  border-bottom-color:black;
  display:block;
  border-radius:16px;
  border-radius:16px;  
}

.conflike-day-hour {
  font-size:1.5em;
  text-align:left;
  font-weight: bold;  
  font-family:"Courier New";
}

.odd-slot-day-hour {
  color:blue;
}

.even-slot-day-hour {
  color:limegreen;
}

.conflike-room {
  font-size:1.5em;
  text-align:right;
}

.conflike-subject {
  font-size:1.5em; 
  margin:1px; 
  text-align:center;
  width:100%;
}

.conflike-subject-checkbox {
  width: 20px; 
  height: 20px;
}

.conflike-speaker-name {
  color:black;
  font-size:1.5em  
}

.conflike-speaker-image {
  display:block;  
  text-align: center;
}

.conflike-description {
  display:block;  
  margin:1px;
  font-size:1.3em;
}

.conflike-description-banner {
  text-align:center;
  background-color:lightgrey;
  padding:5px;
  font-size:1.4em;
  border-radius:16px;  
}

.conflike-description-text {
  padding:5px; 
  border-color:blue; 
  border-width:2px; 
  border-style:dotted; 
  display:none
}

.conflike-feedback {
  display:none;  
  margin:1px;
}

.conflike-feedback-banner {
  text-align:center;
  background-color:lightgrey;
  padding:10px;
  font-size:1.5em;
  border-radius:16px;  
}

.conflike-feedback-content {
  background:lightgrey;  
  border-color:blue; 
  border-width:2px; 
  border-style:dotted; 
  display:none;
}









.odd-slot-left-border {
  border-left-color:lightblue;
  border-bottom-color:lightblue;
  border-top-color:lightblue;
}

.even-slot-left-border {
  border-left-color:lightgreen;
  border-bottom-color:lightgreen;
  border-top-color:lightgreen;
}