@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:1px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.conflike-title {
  font-size:24px;
  padding:15px;
  text-align:center;
  background-color:lightgrey;
  text-decoration:none
}

.conflike-introduction {
  padding:3%; 
  text-align: left; 
  border-width:2px; 
  border-color:black; 
  border-style:dotted
}

.conflike-day-banner {
  margin:1px;
  padding:10px;
  text-align:center;
  background-color:orange;
  text-decoration:none; 
}

.conflike-day-slot-banner {
  display:block;
  padding:10px;
  text-align:center;
  background-color:lightgreen;
  text-decoration:none;
}

.conflike-day-slot {
  border-color:black; 
  border-width:2px; 
  border-style:dotted;
  border-top-width:5px;   
  border-top-style:solid;  
  border-bottom-width:5px;   
  border-bottom-style:solid;  
  border-left-width:5px;  
  border-left-style:solid;
}

.conflike-talk {
  padding:2px; 
  margin:2px;
  background-color: white;
  border-color:black; 
  border-width:1px; 
  border-style:dotted;
}

.conflike-day-hour {
  font-size:1.5em;
  text-align:left;
  font-weight: bold;  
  font-family:"Courier New";  
  color:lightblue;
}

.conflike-room {
  font-size:1.3em;
  text-align:right;
}

.conflike-subject {
  font-size:1.3em; 
  margin:1px; 
  text-align:left;
  width:100%;
}

.conflike-speaker-image {
  display:none;  
  text-align: center;
}

.conflike-description {
  display:block;  
  margin:1px;
}

.conflike-description-banner {
  text-align:center;
  background-color:lightgrey;
  text-decoration:none; 
  padding:10px;
}

.conflike-description-text {
  padding:5px; 
  border-color:black; 
  border-width:5px; 
  border-style:dotted; 
  display:none
}

.conflike-feedback {
  display:block;  
  margin:1px;
}

.conflike-feedback-banner {
  text-align:center;
  background-color:lightgrey;
  text-decoration:none; 
  padding:10px
}

.conflike-feedback-content {
  border-color:blue; 
  border-width:0px; 
  border-style:dotted; 
  display:none
}

.odd-slot {
  background:lightblue;
}

.even-slot {
  background:lightgreen;
}

.odd-slot-day-hour {
  color:lightblue;
}

.even-slot-day-hour {
  color:lightgreen;
}

.odd-slot-left-border {
  border-left-color:lightblue;
  border-bottom-color:lightblue;
  border-top-color:lightblue;
}

.even-slot-left-border {
  border-left-color:lightgreen;
  border-bottom-color:lightgreen;
  border-top-color:lightgreen;
}