.conflike-title {
  font-size:24px;
  padding:15px;
  text-align:center;
  background-color:lightgrey;
  text-decoration:none
}

.conflike-introduction {
  padding:3%; 
  text-align: left; 
  border-width:2px; 
  border-color:black; 
  border-style:dotted
}

.conflike-day-banner {
  margin:1px;
  padding:10px;
  text-align:center;
  background-color:orange;
  text-decoration:none; 
}

.conflike-day-slot-banner {
  padding:10px;
  text-align:center;
  background-color:lightgreen;
  text-decoration:none;
}

.conflike-day-slot {
  border-color:black; 
  border-width:2px; 
  border-style:dotted;
  border-left-width:5px;  
  border-left-color:red;  
  border-left-style:solid;
}

.conflike-talk {
  padding:2px; 
  margin:2px;
  background-color: white;
  border-color:black; 
  border-width:1px; 
  border-style:dotted;
}

.conflike-day-hour {
  margin:1px;
  font-size:1.3em;
  text-align:left;
}

.conflike-room {
  margin:1px;
  font-size:1.3em;
  text-align:left;
}

.conflike-subject {
  font-size:1.3em; 
  margin:1px; 
  text-align:center;
}

.conflike-speaker-image {
  display:none;  
  text-align: center;
}

.conflike-description {
  display:block;  
  margin:1px;
}

.conflike-description-banner {
  text-align:center;
  background-color:lightgrey;
  text-decoration:none; 
  padding:10px;
}

.conflike-description-text {
  padding:5px; 
  border-color:black; 
  border-width:5px; 
  border-style:dotted; 
  display:none
}

.conflike-feedback {
  display:block;  
  margin:1px;
}

.conflike-feedback-banner {
  text-align:center;
  background-color:lightgrey;
  text-decoration:none; 
  padding:10px
}

.conflike-feedback-content {
  border-color:blue; 
  border-width:0px; 
  border-style:dotted; 
  display:none
}

.odd-slot {
  background:lightblue;
}

.even-slot {
  background:lightgreen;
}

.odd-left-border {
  border-left-color:lightblue;
}

.even-left-border {
  border-left-color:lightgreen;
}