.schedule {

  .subject {
    font-weight: bold;
    display: block;
  }

  .extra {
    padding-top: 10px;
    font-style: italic;
    color: #900;
  }

  .extra span {
    color: #000;
    i {
      color: #888;
      text-shadow: 1px 1px #ccc;
    }
  }

  .picto {
    float: right;
  }

  .room {
    float:left;
    padding-bottom: 20px;
    border-right: 1px solid #eee;
    padding-right: 8px;
    margin-right: 8px;
    display: block;
    min-width: 90px;
  }

  .hour, .speaker, .company {
    font-size: $small-font-size;
  }
  .company::before {
    content: '[';
  }
  .company::after {
    content: ']';
  }

  th.hour {
    border-top: none !important;
    padding-top: 10px !important;
    color: #666;
  }

  tr.rooms th {
    border-top: none !important;
    padding-top: 20px;
  }

  td {
    background: #eee;
    border: 5px solid #fff !important;
    padding: 5px;
  }
  td.big-height {
    vertical-align: middle;
    height: 12em;
  }

  tr.alt {
    td {
      background: #f5f5f5;
    }
  }

  td.highlight {
    background: #ccc !important;
    color: #000;
    border-bottom: solid 1px #ddd;
    font-size: $base-font-size + 2;
    .speaker {
      font-size: $small-font-size + 2;
    }
    a {
      color: #226;
    }
  }
  td.dim {
    background: #f5f5f5 !important;
    color: #666;
    text-align: center;
    border: none !important;
    font-size: $base-font-size - 1;
    a { color: #226;}
  }


}
