.schedule {

  .subject {
    font-weight: bold;
    display: block;
  }

  .extra {
    padding-top: 10px;
    font-style: italic;
    color: #900;
  }

  .extra span {
    color: #000;
    i {
      color: #888;
      text-shadow: 1px 1px #ccc;
    }
  }

  .room {
    float:left;
    padding-bottom: 20px;
    border-right: 1px solid #eee;
    padding-right: 8px;
    margin-right: 8px;
    display: block;
  }

  .speaker {
    font-size: $small-font-size;
  }

  th.hour {
    border-top: none !important;
  }

  tr.rooms th {
    border-top: none !important;
    padding-top: 20px;
  }

  td {
    background: #eee;
    border: 5px solid #fff !important;
    padding: 5px;
  }

  tr.alt {
    td {
      background: #f5f5f5;
    }
  }

  td.highlight {
    background: #ccc !important;
    color: #000;
    border-bottom: solid 1px #ddd;
    font-size: $base-font-size + 2;
    .speaker {
      font-size: $small-font-size + 2;
    }
    a { color: #226;}
  }


}
