.speaker {
  margin-bottom: 10px;
  h2 {
    font-size: $base-font-size + 4;
    font-weight: bold;
  }
  img {
    float: left;
    margin-right: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
}
