.speakers .speaker {
  padding-top: 50px;
  margin-top: 20px;
  h2 {
    font-size: $base-font-size + 4;
    font-weight: bold;
  }
  img {
    float: left;
    margin-right: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    max-width: 120px;
    max-heights: 120px;
  }
  &:target {
    background-color: #fcf8e3;
  }
}
