.sponsor {
  h2 {
    text-align: left;
  }

  text-align: center;
  margin: 50px;
  display: inline;
  img {
    padding-bottom: 10px;
    max-width: 150px;
    max-height: 150px;
  }

  img.platinum {
    max-width: 250px;
    max-height: 250px;
  }
  .name {
    display:block;
  }
  a.placeholder {
    display: block;
    border: 1px solid grey;
    width: 220px;
    height: 70px;
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
  }
}
