.sponsor {
  text-align: center;
  margin-bottom: 10px;
  img {
    padding-bottom: 10px;
    max-width: 100px;
    max-height: 100px;
  }

  img.platinum {
    max-width: 150px;
    max-height: 150px;
  }
  .name {
    display:block;
  }
}
