.talks .talk {
  clear: both;
  padding: 30px 80px;
  .info {
    background: #eee;
    padding: 4px 6px;
    font-style: italic;
  }
  .description, ol, ul {
    margin-top: 5px;
    margin-left: 90px;
  }
  .speakers {
    float: left;
    img {
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      max-width: 120px;
      max-heights: 120px;
    }
  }
}
